.impowerBox .title {
  display: none;
  color: #555;
  line-height: 1.6;
  height: 32px;
}

.impowerBox .title .logo {
  display: none;
}
.impowerBox .qrcode {
  width: 300px;
  vertical-align:top;
}
.impowerBox .info {
  width: 300px;
  padding: 7px 14px;
}

.impowerBox .qrcode {
  border-width: 0;
}

.impowerBox .status {
  color: #555;
  margin-top: 0;
}
.impowerBox .status.status_browser{
  padding: 0;
}
.impowerBox .status .status_txt {
  text-align: left;
}

.impowerBox .status_succ, .impowerBox .status_fail {
  margin-left: 0;
  text-align: center;
}

.impowerBox .status_succ .status_txt p, .impowerBox .status_fail .status_txt p {
  color: #A1A7AC;
  font-size: 12px;
}
.impowerBox .status > p:not(:first-child){
  display: none;
}
.impowerBox .wrp_code {
  margin-top: 20px;
}

.impowerBox .wrp_code .qrcode {
  margin-top: 0;
}
